@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-grid-white\/10 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cg fill='%23FFFFFF' fill-opacity='0.1'%3E%3Cpath d='M0 0h1v20H0zM4 0h1v20H4zM8 0h1v20H8zM12 0h1v20h-1zM16 0h1v20h-1zM0 0v1h20V0zM0 4v1h20V4zM0 8v1h20V8zM0 12v1h20v-1zM0 16v1h20v-1z'/%3E%3C/g%3E%3C/svg%3E");
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

